{% extends 'base.html' %}

{% block content %}
  <h1>Latest Posts</h1>
  <ul>
    {% for post in latest_posts %}
      <div class="card mb-3" >
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Author: {{post.author}}</h6>
            <div class="card-text">{{post.html|safe|truncatewords:10}}</div>
            <a href="{% url 'posts:post-detail' pk=post.pk %}" class="card-link">Read now</a>
          </div>
        </div>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
